@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins';
    background-color: #031928;
}

main > #grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#grid > div{
    margin-right: 7.5%;
    align-self: center;
    align-items: center;
    justify-content: center;
}

h2{
    color: white;
}

div#grid > div > ul{
    display: inline-block;
    background-color: #066774;
    border-radius: 1em;
    box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.157);
    width: 12em;
    margin-block-start: 0%;
}

div#grid > div > ul> li{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: 300;
    font-weight: 400;
    font-size: 14pt;
    color: white;
    /*list-style-type: none;*/
}
ul > li > a{
    color: white;
    text-decoration: none;
}
ul.documento > li > a:hover{
    text-decoration: underline;   
}



footer > p{
   
    display: flex;
    justify-content: end;
    align-self: flex-end;
}

a#footer{
    color: white;
    margin-top: 10%;
    font-family: 'Poppins';
    transition: 0.3s;
    border-radius: 5em;
    width: 13em;
    text-align: center;
    text-decoration: none;
    
}

footer > p:hover{
    color: white;

}
a#footer:hover{
    background-color: rgb(0,0,0);
    color: white;
    text-decoration: underline;
}
